@font-face {
  font-family: "Geometria";
  src: url(../fonts/Geometria.woff2), url(../fonts/Geometria.woff), url(../fonts/Geometria.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Geometria-Medium";
  src: url(../fonts/Geometria-Medium.woff2), url(../fonts/Geometria-Medium.woff), url(../fonts/Geometria-Medium.ttf);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Geometria-Bold";
  src: url(../fonts/Geometria-Bold.woff2), url(../fonts/Geometria-Bold.woff), url(../fonts/Geometria-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "SegoeWP-Black";
  src: url(../fonts/SegoeWP-Black.woff2), url(../fonts/SegoeWP-Black.woff), url(../fonts/SegoeWP-Black.ttf);
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
