.nutrition {
   margin: 170px 0px 41px 0px;
   padding: 50px 0px;
   background: linear-gradient(to right, black 50%, white 0%);
   position: relative;
   overflow: hidden;

   h5 {
      font: 900 24px/30px "SegoeWP";
      mix-blend-mode: difference;
      color: white;
      max-width: 260px;
      margin-bottom: 41px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         bottom: -10px;
         width: 76px;
         height: 1px;
         background: #fea904;
      }
   }
   .nutrition__text {
      mix-blend-mode: difference;
      color: white;
      max-width: 367px;
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 23px;
   }
   .logo-name {
      position: absolute;
      z-index: 5;
      top: 100px;
      left: 36.8%;
      font: 900 210px/220px "SegoeWP";
      background: linear-gradient(90deg, rgb(255, 255, 255) 21%, rgba(254, 169, 4, 0.8) 0%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
   }
   .people-image {
      position: absolute;
      z-index: 4;
      top: -110px;
      left: 55%;
   }
}
