.range {
   padding: 107px 0px 87px;
   overflow: hidden;

   h3 {
      margin-bottom: 60px;
      max-width: 730px;
   }

   &__info {
      width: 560px;
      margin-bottom: 60px;
   }

   &__items {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      text-align: center;
      cursor: pointer;

      &-image {
         padding: 0 10px 20px;
         position: relative;
         &::before {
            content: "";
            position: absolute;
            background: #000000;
            mix-blend-mode: multiply;
            opacity: 0.35;
            width: 347px;
            height: 197px;
            transition: 0.5s;
         }
         &::after {
            content: "";
            position: absolute;
            width: 70px;
            height: 70px;
            background-color: #fea904;
            top: 137px;
            left: 0px;
            z-index: -1;
            transition: 0.5s;
         }
      }
      p {
         position: relative;
         &::after {
            content: "";
            position: absolute;
            width: 76px;
            height: 1px;
            bottom: -3px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            background: #fea904;
            transition: 0.5s;
         }
      }

      &:hover {
         .range__item-image::before {
            transition: 0.5s;
            opacity: 0.6;
         }
         .range__item-image::after {
            transition: 0.5s;
            left: 10px;
            top: 127px;
         }
         p:after {
            transition: 0.5s;
            width: 0%;
         }
      }
   }
}
