@import "_fonts";

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   font: 400 20px/28px "Geometria";
   cursor: default;
}

a {
   color: inherit;
   text-decoration: none;
}

.container {
   max-width: 1160px;
   margin: 0 auto;
   padding: 0 10px;
}

.title {
   font: 900 42px/55px "SegoeWP";
}

.yellow-color {
   color: #fea904;
}

.button {
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
   width: 270px;
   height: 50px;
   color: white;
   background-color: #fea904;
   border: none;
   cursor: pointer;
}

.lock {
   overflow: hidden;
}

@import "_header";

@import "_range";

@import "_benefits";

@import "_nutrition";

@import "_feedback";

@import "_footer";
